// Fonts
$default: #FFF;
$subtitle_font_color: #13EB29;
$project_name_font_color: #02213F;
$contact_title_font_color: #C1EDF6;
$labels_contact_font_color: #C1EDF6;
$send_but_font_color: #C1EDF6;
$send_but_hover_font_color: #0F202A;

// Backgrounds
$main_bg_color: #112E4A;
$title_section_bg_color: #02213F;
$degree_bg_color: #163859;
$about_me_bg_color: #02213F;
$projects_title_bg_color: #2B9853;
$projects_bg_color: #52AABC;
$fill_contact_info_bg_color: #0F202A;

// Buttons
$but_project_active_color: #07488a;
$but_contact_color: transparent;
$but_info_color: transparent;
$but_send_color: transparent;
$but_send_hover_color: #C1EDF6;
$but_send_click_color: #39b3cc;

// Input text box
$input_text_bg_color: #1F486F;

// Border colors
$send_but_border_color: #C1EDF6;