// Fonts
$default: #FFF;
$subtitle_font_color: #13EB29;

// Backgrounds
$main_bg_color: #112E4A;
$title_section_bg_color: #02213F;
$degree_bg_color: #163859;
$about_me_bg_color: #02213F;
$projects_title_bg_color: #2B9853;
$projects_bg_color: #52AABC;

// Buttons
$but_contact_color: transparent;
$but_info_color: transparent;