// Fonts
$default: #FFF;
$logo_font_color: #13EB29;

// Backgrounds
$main_background: #112E4A;
$title_section: #02213F;
$degree: #163859;

// Buttons
$but_contact_color: transparent;
$but_info_color: transparent;