// Common imports
@import './_responsive_mixins';
@import './_colors';
@import './_fonts';
@import './_typography';

body {
    background-color: $main_bg_color;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero_bg {
    display: grid;
    max-width: 100%;
    height: 50vh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1.5fr 1fr 2.5fr;
    background-image: url('../img/home/city_edited.jpg');
    background-size: cover;
    //background-size: 100% 100%;
    background-repeat: no-repeat;

    nav {
        grid-area: 1 / 1 / 2 / 6;
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr;
        margin-top: 1em;
    }

    .logo {
        @extend %logo_font;
        grid-area: 1 / 2 / 2 / 4;
        color: $subtitle_font_color;
    }

    .contact {
        grid-area: 1 / 4 / 2 / 5;
        justify-self: end; 
    }

    .contact button {
        @extend %contact_button_font;
        background-color: $but_contact_color;
        border: none;
        margin: 0;
        padding: 0 1em 0 1em;
        outline: none;
        cursor: pointer;
    }

    h1 {
        @extend %main_title_font;
        grid-area: 2 / 2 / 3 / 5;
        background-color: $title_section_bg_color;
        margin: 0;
        padding: 1.3em 1.2em 1.2em 1.7em;
    }

    .information {
        grid-area: 3 / 2 / 4 / 5;
        list-style: none;
        justify-self: center;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 0;
        transform: translate(0, -15px);
    }

    .info_buttons {
        backdrop-filter: blur(10px);
    }

    .degree {
        @extend %degree_title_font;
        background-color: $degree_bg_color;
        padding: 0.3em 0;
        width: 12em;
    }

    ul button {
        @extend %buttons_info_font;
        background-color: $but_info_color;
        border: none;
        margin: 0;
        padding: 0.3em 0;
        width: 12em;
        text-decoration: none;
        outline: none;
        cursor: pointer;
    }

    /* Responsive design for tablet display */
    @include responsive_tablet() {
        height: 70vh;
        background-size: 100% 100%;

        .logo {
            font-size: $nav_tablet_font_size;
        }

        .contact button {
            font-size: $nav_tablet_font_size;
        }

        h1 {
            font-size: $main_title_tablet_font_size;
            padding: 1.3em 1.2em 1.6em 1.7em;
        }

        .degree {
            font-size: $subtext_tablet_font_size;
            padding: 0.6em 0;
            width: 15em;
        }

        ul button {
            font-size: $subtext_tablet_font_size;
            padding: 0.6em 0;
            width: 15em;
        }

        .information {
            transform: translate(0, -24px);
        }
    }
}

.about_me {
    position: relative;
    background-color: $about_me_bg_color;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;

    h2 {
        margin: 0;
        padding: 0.8em 0;
        @extend %about_me_title_font;
        color: $subtitle_font_color;
    }

    .about_info {
        @extend %about_me_desc_font;
        margin: 0 3.8em;
        padding-bottom: 1.5em;
        line-height: 1.6em;
    }

    /* Responsive design for tablet display */
    @include responsive_tablet() {
        h2 {
            font-size: $about_me_title_tablet_font_size;
        }

        .about_info {
            font-size: $subtext_tablet_font_size;
            line-height: 1.6em;
            padding-bottom: 1.8em;
            margin: 0 7.5em;
        }
    }

    /* Responsive design for desktop display */
    @include responsive_general() {
        h2 {
            font-size: 1.4rem;
        }

        .about_info {
            padding-bottom: 2em;
            margin: 0 15em;
        }
    }
}

.projects_title {
    position: relative;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);

    h2 {
        @extend %projects_title_font;
        background-color: $projects_title_bg_color;
        margin: 0 0 0.5em;
        padding: 0.5em 0;
    }

    /* Responsive design for tablet display */
    @include responsive_tablet() {
        h2 {
            margin: 0 0 0.7em;
            padding: 0.8em 0;
            font-size: $main_title_tablet_font_size;
        }
    }
}

.list_projects {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
    margin: 0 4.1em;

    /* Responsive design for tablet display */
    @include responsive_tablet() {
        margin: 0 8em;
    }
}

.project_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "image name";
    margin: 0.5em 0;
    border: none;

    .img_project {
        grid-area: image;
        position: relative;
    }

    .img_project::before {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
    }

    .name_project {
        @extend %project_name_font;
        grid-area: name;
        background-color: $projects_bg_color;
        color: $project_name_font_color;
        display: flex;
        align-items: center;
        padding-left: 1em;
    }

    /* Responsive design for tablet display */
    @include responsive_tablet() {
        margin: 1em 0;

        .name_project {
            font-size: $subtext_tablet_font_size;
            text-align: center;
        }
    }
} 